<h4 class="center-align">Login</h4>
<p class="danger">{{ errorMessage }}</p>
<form class="col s12 login" #form="ngForm">
  
  <div class="row">
    
    <div class="input-field col s12">
      <!-- ngModel defines the fields within the form Model -->
      <input name="email" type="email" ngModel class="validate">
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <input name="password" type="password" ngModel class="validate">
      <label for="password">Password</label>
    </div>
    <div class="col sm6">
      <a class="waves-effect waves-light btn left" (click)="signup(form)">SIGN UP</a>
    </div>
    <div class="col sm6">
      <a class="waves-effect waves-light btn right" (click)="login(form)">LOG IN</a>
    </div>
    
  </div>
  
</form>
