<nav class="default-primary-color">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tweeter</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Username: Jack Lyons</a></li>
        <li><a href="collapsible.html">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <!-- Message input -->
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Write message here...</label>
        </div>
      </div>
    </form>
  </div>
        
  <app-login></app-login>

  <app-tweet-card></app-tweet-card>
</div>