<nav class="default-primary-color">
  <div class="">
    <div class="nav-wrapper ">
      <a [routerLink]="['/home']" class="brand-logo">Tweeter</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a *ngIf="loggedInUser !== ''" href="">Logged in as: {{ loggedInUser }}</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="v-light-primary-color main-container">
  
  
  <div class="row">
    <!-- Message input -->
    <app-message></app-message>

    <div class="col s6">
      <!-- Tweet Cards -->
      <app-tweet-card></app-tweet-card>
    </div>

    <div class="col s3">
      <!-- Login -->
      <app-login #login (newUser)="getUserName($event)"></app-login>
    </div>

  </div>
<router-outlet></router-outlet>
</div>