<nav class="default-primary-color">
  <div class="">
    <div class="nav-wrapper ">
      <a [routerLink]="['/home']" class="brand-logo">Tweeter</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Username: Jack Lyons</a></li>
        <li><a href="collapsible.html">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="v-light-primary-color main-container">
  
  <!-- Message input -->
  <div class="row">
    <app-message></app-message>

    <div class="col s6">
      <app-tweet-card></app-tweet-card>
    </div>

    <div class="col s3">
      <app-login></app-login>
    </div>

  </div>
<router-outlet></router-outlet>
</div>